<section class="section-chat" style="background-color: #eee;">
    <div class="container prueba" >

      <div class="d-flex justify-content-center chat">
        <!-- <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

          <h5 class="font-weight-bold mb-3 text-center text-lg-start">Chats</h5>

          <div class="card">
            <div class="card-body">

              <ul class="list-unstyled mb-0">
                <li class="p-2 border-bottom" style="background-color: #eee;">
                  <a href="#!" class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                      <div class="pt-1">
                        <p class="fw-bold mb-0">John Doe</p>
                        <p class="small text-muted">Hello, Are you there?</p>
                      </div>
                    </div>
                    <div class="pt-1">
                      <p class="small text-muted mb-1">Just now</p>
                      <span class="badge bg-danger float-end">1</span>
                    </div>
                  </a>
                </li>
                <li class="p-2 border-bottom">
                  <a href="#!" class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-1.webp" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                      <div class="pt-1">
                        <p class="fw-bold mb-0">Danny Smith</p>
                        <p class="small text-muted">Lorem ipsum dolor sit.</p>
                      </div>
                    </div>
                    <div class="pt-1">
                      <p class="small text-muted mb-1">5 mins ago</p>
                    </div>
                  </a>
                </li>
                <li class="p-2 border-bottom">
                  <a href="#!" class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                      <div class="pt-1">
                        <p class="fw-bold mb-0">Alex Steward</p>
                        <p class="small text-muted">Lorem ipsum dolor sit.</p>
                      </div>
                    </div>
                    <div class="pt-1">
                      <p class="small text-muted mb-1">Yesterday</p>
                    </div>
                  </a>
                </li>
                <li class="p-2 border-bottom">
                  <a href="#!" class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                      <div class="pt-1">
                        <p class="fw-bold mb-0">Ashley Olsen</p>
                        <p class="small text-muted">Lorem ipsum dolor sit.</p>
                      </div>
                    </div>
                    <div class="pt-1">
                      <p class="small text-muted mb-1">Yesterday</p>
                    </div>
                  </a>
                </li>
                <li class="p-2 border-bottom">
                  <a href="#!" class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-4.webp" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                      <div class="pt-1">
                        <p class="fw-bold mb-0">Kate Moss</p>
                        <p class="small text-muted">Lorem ipsum dolor sit.</p>
                      </div>
                    </div>
                    <div class="pt-1">
                      <p class="small text-muted mb-1">Yesterday</p>
                    </div>
                  </a>
                </li>
                <li class="p-2 border-bottom">
                  <a href="#!" class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                      <div class="pt-1">
                        <p class="fw-bold mb-0">Lara Croft</p>
                        <p class="small text-muted">Lorem ipsum dolor sit.</p>
                      </div>
                    </div>
                    <div class="pt-1">
                      <p class="small text-muted mb-1">Yesterday</p>
                    </div>
                  </a>
                </li>
                <li class="p-2">
                  <a href="#!" class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                      <div class="pt-1">
                        <p class="fw-bold mb-0">Brad Pitt</p>
                        <p class="small text-muted">Lorem ipsum dolor sit.</p>
                      </div>
                    </div>
                    <div class="pt-1">
                      <p class="small text-muted mb-1">5 mins ago</p>
                      <span class="text-muted float-end"><i class="fas fa-check" aria-hidden="true"></i></span>
                    </div>
                  </a>
                </li>
              </ul>

            </div>
          </div>

        </div> -->

        <!-- <div class="col-md-6 col-lg-7 col-xl-8"> -->
        <div style="width: 85%;max-width: 1200px" class="bottom-cht1">
          <div class="chat-full mb-3" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <ul class="list-unstyled">
              <li class="d-flex mb-4" *ngFor="let mensaje of mensajes" [ngClass]="mensaje.id == userId ? 'justify-right' : 'justify-left'">
                <!-- <img src="assets/images/demo/jorge.png" alt="avatar"
                  class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60"> -->
                <div class="card">
                  <div class="card-header d-flex p-chat"  [ngClass]="mensaje.id == userId ? 'bg-green' : 'bg-orange'">
                    <p class="fw-bold mb-0 chat-msg p-chat">{{mensaje.name}}</p>
                    <p class="text-muted small mb-0"><i class="far fa-clock" style="margin-right: 5px;"></i> {{mensaje.timestamp.toDate() | date: 'd/MM - HH:mm'}}</p>
                  </div>
                  <div class="card-body">
                    <p class="mb-0">
                      {{mensaje.mensaje}}
                    </p>
                  </div>
                </div>
              </li>
              <!-- <li class="d-flex justify-content-between mb-4">
                <div class="card w-100">
                  <div class="card-header d-flex justify-content-between">
                    <p class="fw-bold mb-0 chat-msg">Ezequiel Oggioni</p>
                    <p class="text-muted small mb-0"><i class="far fa-clock"></i> 11 mins ago</p>
                  </div>
                  <div class="card-body">
                    <p class="mb-0">
                      Obvio, tenés un 10.
                    </p>
                  </div>
                </div>
                <img src="assets/images/demo/ezequiel.jpg" alt="avatar"
                  class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
              </li>
              <li class="d-flex justify-content-between mb-4">
                <img src="assets/images/demo/jorge.png" alt="avatar"
                  class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                <div class="card">
                  <div class="card-header d-flex justify-content-between">
                    <p class="fw-bold mb-0 chat-msg">Jorge Calderón</p>
                    <p class="text-muted small mb-0"><i class="far fa-clock"></i> 10 mins ago</p>
                  </div>
                  <div class="card-body">
                    <p class="mb-0">
                      Nice. Muchas gracias!
                    </p>
                  </div>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="bottom-chat bottom-cht2">

        <div class="chat-snd chat-snd-grid">
          <ul class="list-unstyled">
            <li class="bg-white mb-3">
              <div class="form-outline">
                <textarea class="form-control" id="chatArea" rows="3" [(ngModel)]="chatArea"></textarea>
                <label class="form-label" for="chatArea" *ngIf="chatArea==''">Escribe un mensaje..</label>
              </div>
            </li>
          </ul>
          <button type="button" class="btn btn-info btn-rounded" style="height: 40px;" (click)="enviaMensaje()">Enviar</button>
          <small *ngIf="error.active && chatArea==''" class="text-center bg-danger mx-auto" style="font-size:10px;width: 200px;color:white;border-radius: 5px;">{{error.mensaje}}</small>
        </div>
      </div>
    </div>
  </section>
