<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" [routerLink]="['inicio']">
        <img
          src="assets/images/logos/logochat.png"
          height="20"
          alt=""
          loading="lazy"
          style="margin-top: 2px;"
        />
        <b style="font-size: 16px;margin-left: 5px;">ChatApp</b>
      </a>
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="padding-top: 6px;"
          (click)="toggleMenu()"
        >
          <i class="fas fa-bars"></i>
        </button>
    </div>
  </div>
    <!-- Left elements -->

    <!-- Center elements -->
    <ul class="navbar-nav flex-row d-none d-md-flex">
      <li class="nav-item me-3 me-lg-1 active">
        <a class="nav-link" [routerLink]="['inicio']">
          <span>Inicio</span>
          <!-- <span class="badge rounded-pill badge-notification bg-danger">1</span> -->
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link"[routerLink]="['sobre-mi']">
          <span>Sobre mi</span>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" [routerLink]="['chat']">
          <span>Chat</span>
        </a>
      </li>
    </ul>
    <!-- Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row" *ngIf="!userSer.auth()">
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" [routerLink]="['register']">
          <span>Registro</span>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" [routerLink]="['login']">
          <span>Login</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav flex-row" *ngIf="userSer.auth()">
        <!-- <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
          <a
            class="nav-link dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
          >
            <i class="fas fa-comments fa-lg"></i>

          </a>
          <ul
            mdbDropdownMenu
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
          <li>
            <a class="dropdown-item" href="#">Holis</a>
          </li>
          </ul>
        </li>
        <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
          <a
            class="nav-link dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
          >
            <i class="fas fa-bell fa-lg"></i>
          </a>
          <ul
            mdbDropdownMenu
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">Holis</a>
            </li>
          </ul>
        </li> -->
        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link d-sm-flex align-items-sm-center" href="#">

            <strong class="d-none d-sm-block ms-1">{{name}}</strong>
          </a>
        </li>
        <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
          <a
            class="nav-link dropdown-toggle hidden-arrow"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
          >
            <i class="fas fa-chevron-circle-down fa-lg"></i>
          </a>
          <ul
            mdbDropdownMenu
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" style="cursor:pointer" [routerLink]="['mi-perfil']">Mi pefil</a>
            </li>
            <li>
              <a class="dropdown-item" style="cursor:pointer">Notificaciones</a>
            </li>
            <hr>
            <li>
              <a class="dropdown-item" (click)="logout()" style="cursor:pointer">Cerrar Sesión</a>
            </li>
          </ul>
        </li>
    </ul>
    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->
<!-- Navbar Responsive -->
<div class="collapse-menu" id="navbarToggleExternalContent" [ngClass]="toggle == 1 ? 'show' : 'hide'">
  <div class="menu-flex">
    <div class="menu-item" [routerLink]="['inicio']" (click)="toggleMenu()">
      Inicio
    </div>
    <div class="menu-item" [routerLink]="['sobre-mi']"(click)="toggleMenu()">
      Sobre mi
    </div>
    <div class="menu-item" [routerLink]="['chat']"(click)="toggleMenu()">
      Chat
    </div>
    <div class="menu-close" (click)="toggleMenu()">
      Cerrar Menu
    </div>
  </div>
</div>
