<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="my-3">Información del usuario</h5>
            <!-- <textarea name="" id="" cols="40" rows="5"  *ngIf="!flag"></textarea> -->
            <p class="text-muted mb-1" *ngIf="flag">{{ user.bio }}</p>
            <div class="d-flex justify-content-center mb-2">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8" *ngIf="flag">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nombre completo</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nacimiento</p>
              </div>
              <div class="col-sm-9 row" *ngIf="user.birthday == null">
                <input class="form-control" type="date" placeholder="Asd" style="width: 200px;"> <button class="btn btn-primary ml-2" style="width: 120px; margin-left: 10px;">Agregar</button>
              </div>
              <div class="col-sm-9" *ngIf="user.birthday != null">
                <p class="text-muted mb-0">{{ user.birthday }}</p>
              </div>
            </div>
            <hr *ngIf="user.birthday != null">
            <div class="row" *ngIf="user.birthday != null">
              <div class="col-sm-3">
                <p class="mb-0">Edad</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ age }}</p>
              </div>
            </div>
            <!-- <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Contraseña</p>
              </div>
              <div class="col-sm-9">
                <button type="button" class="btn btn-info" (click)="changePassword()">Cambiar contraseña</button>
              </div>
            </div> -->

          </div>
          <button type="button" class="btn btn-primary" style="float: right;" (click)="toggleFlag()">Editar</button>
        </div>
      </div>


      <form novalidate [formGroup]="form" class="col-lg-8" *ngIf="!flag">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nombre completo</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="text-muted mb-0 form-control" value="{{ user.name }}" formControlName="name">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <input type="email" class="text-muted mb-0 form-control" value="{{ user.email }}" formControlName="email">

              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nacimiento</p>
              </div>
              <div class="col-sm-9">
                <input class="form-control" type="date" value="{{ user.birthday }}" formControlName="birthday">
              </div>
            </div>
            <hr>
            <div class="row" *ngIf="user.birthday != null">
              <div class="col-sm-3">
                <p class="mb-0">Edad</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ age }}</p>
              </div>
            </div>

          </div>
          <button type="button" class="btn btn-success" style="float: right;" (click)="saveData()">Guardar</button>
        </div>
      </form>
    </div>
    
  </div>
</section>
