.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(20, 155, 130, 0.7), rgba(65, 11, 151, 0.7) 100%);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(20, 155, 130, 0.7), rgba(65, 11, 151, 0.7) 100%);
    }